In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
train = pd.read_csv('train.csv', index_col=0)
train

,title,text,title_length,text_length,title_capitals,text_capitals,label
38262,race u senate seat indiana shake hill withdrawal,washington reuters democrat baron hill monday ...,65,1376,6,69,0
72027,obama help cuban government block emigration u...,outgo president barack obama use power u immig...,67,5657,10,163,0
45561,guilt association smear nyt get virginia dare ...,guilt association smear nyt get virginia dare ...,64,2034,17,111,1
11066,factbox 70 year special relationship united st...,london reuters british prime minister theresa ...,85,4510,4,197,0
52109,donald trump anything go campaign set alarm po...,washington donald j trump descend capital frid...,95,7152,13,210,0
...,...,...,...,...,...,...,...
44850,nra ted nugent unleashes disgust attack pathet...,nra board member draft dodger pedophile around...,102,1870,25,45,1
57137,u say want syrian government negotiate serious...,washington reuters united state friday urge su...,77,892,3,33,0
40187,hope fade 8 russian miss arctic helicopter acc...,oslo reuters hop find survivor russian helicop...,63,1950,3,49,0
59317,anonymous mean fbi one creator flip get buddy ...,anonymous mean fbi one creator flip get buddy ...,254,254,16,16,1
8032,u election really steal yes information cleari...,mr netanyahu present rebuff accuse jeopardise ...,80,5216,14,192,1

In [3]:
train.groupby(['label']).size()

label
0    22658
1    22658
dtype: int64

In [4]:
test = pd.read_csv('test.csv', index_col=0)
test

,title,text,title_length,text_length,title_capitals,text_capitals,label
36471,ever one mammogram enough convince would go ba...,ever one mammogram enough convince would go ba...,170,170,3,3,1
11452,disabled man confronts ted cruz lie obamacare ...,republican presidential hopeful texas senator ...,68,2504,15,82,1
21752,iran sentence member nuclear negotiating team ...,london reuters iranian authority sentence memb...,79,2141,2,76,0
38369,philippine police halt drug test resident peti...,manila reuters police force stop conduct drug ...,64,2707,1,56,0
68695,anti trump mark cuban huddle trump chief strat...,mark cuban look cozying donald trump least pre...,90,660,54,37,1
...,...,...,...,...,...,...,...
12574,leo ditch hillary shady excuse fly dicaprio fu...,believe excuse believe anything leo dump hilla...,81,1256,26,53,1
20452,parse comey letter michel chossudovsky audio,leave reply james corbett fbi director james c...,57,564,6,30,1
40024,joel skousen scenario world war 3 nwo 2016 come,source add conversation use facebook comment,55,54,10,7,1
22799,oscar winner new york time,carpetbagger spent month report award season p...,54,8253,9,339,0
11136,suicidologist new challenge george washington ...,madelyn gould preternaturally sunny person bro...,82,15490,12,328,0

In [5]:
test.groupby(['label']).size()

label
0    5665
1    5665
dtype: int64

In [6]:
x_train = train.drop('label', axis=1)
y_train = train['label']
x_test = test.drop('label', axis=1)
y_test = test['label']

In [7]:
# Bigram: TF-IDF
tfidf = TfidfVectorizer(ngram_range=(2, 2))

x_train_title_tf = tfidf.fit_transform(x_train['title'])
x_test_title_tf = tfidf.transform(x_test['title'])

In [8]:
x_train_title_tf

<45316x235378 sparse matrix of type '<class 'numpy.float64'>'
	with 364528 stored elements in Compressed Sparse Row format>

In [9]:
df_tfidf = pd.DataFrame(x_train_title_tf.todense(), columns = tfidf.get_feature_names()) 
df_tfidf.T

,0,1,2,3,4,5,6,7,8,9,...,45306,45307,45308,45309,45310,45311,45312,45313,45314,45315
00 est,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00 increase,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00 month,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00 november,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00 welfare,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuma successor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zumwalt france,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zurich trash,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zvezda post,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zweden see,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Bigram: CV
cv = CountVectorizer(ngram_range=(2, 2))
x_train_title_cv = cv.fit_transform(x_train['title'])

In [11]:
x_train_title_cv

<45316x235378 sparse matrix of type '<class 'numpy.int64'>'
	with 364528 stored elements in Compressed Sparse Row format>

In [12]:
df_cv = pd.DataFrame(x_train_title_cv.todense(), columns = cv.get_feature_names()) 
df_cv.T

,0,1,2,3,4,5,6,7,8,9,...,45306,45307,45308,45309,45310,45311,45312,45313,45314,45315
00 est,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
00 increase,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
00 month,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
00 november,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
00 welfare,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuma successor,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zumwalt france,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zurich trash,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zvezda post,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zweden see,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0